In [3]:
1) from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
# 내 디렉토리 확인
import os  
os.getcwd()

'C:\\python\\파란학기\\수원시 평생학습관_데이터분석'

In [5]:
# 필요한 모듈 가져오기 
%matplotlib inline  

import matplotlib.pyplot as plt  
import pandas as pd  
import seaborn as sns  
import numpy as np

## 데이터 읽어오기

In [159]:
df = pd.read_csv(open('2020년.csv'),index_col=0)
df.to_excel('2020년.xlsx',encoding='CP949')

In [160]:
df.head()

,직업,성별,연령대,거주지,신청일자,강좌명,강좌시작일,강좌종요일,강좌분야,강사
학습자,,,,,,,,,,
29,직업,여,40대,용인시 서천동,2020-02-12,[모임]쓸모,2020-01-01,2020-12-31,학습공동체,-XXXX
29,직업,여,40대,용인시 서천동,2020-04-10,맥주교실,2020-05-09,2020-06-20,정규과정,박XXXX
29,직업,여,40대,용인시 서천동,2020-06-11,[온라인] 맥주교실,2020-06-13,2020-06-20,정규과정,박XXXX
29,직업,여,40대,용인시 서천동,2020-09-01,[목]쓸모,2017-09-01,2017-12-31,학습공동체,-XXXX
43,직업,여,50대,경기도 수원시 영통구 권광로260번길,2020-02-17,스피킹 잉글리쉬 여행영어,2020-03-03,2020-06-23,정규과정,독XXXX

## 데이터 전처리   
2020년도의 데이터를 샘플데이터로 먼저 전처리

### (1) 학습자 -> 학습자 id 이름, 강좌종요일 -> 강좌종료일 변경

In [161]:
df.rename(columns = {'학습자':'학습자id', '강좌종요일':'강좌종료일'}, inplace = True)  
df

,직업,성별,연령대,거주지,신청일자,강좌명,강좌시작일,강좌종료일,강좌분야,강사
학습자,,,,,,,,,,
29,직업,여,40대,용인시 서천동,2020-02-12,[모임]쓸모,2020-01-01,2020-12-31,학습공동체,-XXXX
29,직업,여,40대,용인시 서천동,2020-04-10,맥주교실,2020-05-09,2020-06-20,정규과정,박XXXX
29,직업,여,40대,용인시 서천동,2020-06-11,[온라인] 맥주교실,2020-06-13,2020-06-20,정규과정,박XXXX
29,직업,여,40대,용인시 서천동,2020-09-01,[목]쓸모,2017-09-01,2017-12-31,학습공동체,-XXXX
43,직업,여,50대,경기도 수원시 영통구 권광로260번길,2020-02-17,스피킹 잉글리쉬 여행영어,2020-03-03,2020-06-23,정규과정,독XXXX
...,...,...,...,...,...,...,...,...,...,...
40189,직업,여,60대,경기도 수원시 권선구 권광로,2020-10-29,[온라인 열린강좌]인류세:재난적 상황이 일상화된 시대를 살아가기,2020-11-17,2020-11-17,정규과정,최XXXX
40189,직업,여,60대,경기도 수원시 권선구 권광로,2020-11-13,1307.[글로벌누구나_온라인]아프리카 르완다 이야기,2020-12-03,2020-12-03,시민기획,권XXXX
40189,직업,여,60대,경기도 수원시 권선구 권광로,2020-12-16,"1311.[글로벌누구나_온라인]낯선아프리카에서의 2년,여행을 꿈꾸는 분들을 초대합니다",2020-12-18,2020-12-18,시민기획,정XXXX
40189,직업,여,60대,경기도 수원시 권선구 권광로,2020-12-19,1312.[글로벌누구나_온라인]미소의 나라 미얀마 이야기,2020-12-29,2020-12-29,시민기획,카XXXX
40329,직업,남,10대,경기도 수원시 영통구 대학3로,2020-12-22,[글로벌문화특강]Janae와 함께 하는 온라인 문화여행,2020-12-30,2020-12-30,글로벌교육,JAXXXX

### (2) 직업, 강사 열 제거하기

In [162]:
df.drop(['직업', '강사'], axis = 'columns', inplace = True)  
df

,성별,연령대,거주지,신청일자,강좌명,강좌시작일,강좌종료일,강좌분야
학습자,,,,,,,,
29,여,40대,용인시 서천동,2020-02-12,[모임]쓸모,2020-01-01,2020-12-31,학습공동체
29,여,40대,용인시 서천동,2020-04-10,맥주교실,2020-05-09,2020-06-20,정규과정
29,여,40대,용인시 서천동,2020-06-11,[온라인] 맥주교실,2020-06-13,2020-06-20,정규과정
29,여,40대,용인시 서천동,2020-09-01,[목]쓸모,2017-09-01,2017-12-31,학습공동체
43,여,50대,경기도 수원시 영통구 권광로260번길,2020-02-17,스피킹 잉글리쉬 여행영어,2020-03-03,2020-06-23,정규과정
...,...,...,...,...,...,...,...,...
40189,여,60대,경기도 수원시 권선구 권광로,2020-10-29,[온라인 열린강좌]인류세:재난적 상황이 일상화된 시대를 살아가기,2020-11-17,2020-11-17,정규과정
40189,여,60대,경기도 수원시 권선구 권광로,2020-11-13,1307.[글로벌누구나_온라인]아프리카 르완다 이야기,2020-12-03,2020-12-03,시민기획
40189,여,60대,경기도 수원시 권선구 권광로,2020-12-16,"1311.[글로벌누구나_온라인]낯선아프리카에서의 2년,여행을 꿈꾸는 분들을 초대합니다",2020-12-18,2020-12-18,시민기획
40189,여,60대,경기도 수원시 권선구 권광로,2020-12-19,1312.[글로벌누구나_온라인]미소의 나라 미얀마 이야기,2020-12-29,2020-12-29,시민기획
40329,남,10대,경기도 수원시 영통구 대학3로,2020-12-22,[글로벌문화특강]Janae와 함께 하는 온라인 문화여행,2020-12-30,2020-12-30,글로벌교육

### (3) 신청일자, 강좌시작일, 강좌종료일 날짜형으로 변환

In [163]:
df['신청일자'] = pd.to_datetime(df['신청일자'])  
df['강좌시작일'] = pd.to_datetime(df['강좌시작일'])  
df['강좌종료일'] = pd.to_datetime(df['강좌종료일'])  
df.dtypes

성별               object
연령대              object
거주지              object
신청일자     datetime64[ns]
강좌명              object
강좌시작일    datetime64[ns]
강좌종료일    datetime64[ns]
강좌분야             object
dtype: object

### (3-1) 새로운 열 생성 - 신청일자 및 강좌시작일 사이 몇일 간격/ 강좌시작일과 강좌종료일 간격 열도 생성?

In [164]:
df['신청기간'] = df['강좌시작일'] - df['신청일자']    
df['강좌기간'] = df['강좌종료일'] - df['강좌시작일']    
df

,성별,연령대,거주지,신청일자,강좌명,강좌시작일,강좌종료일,강좌분야,신청기간,강좌기간
학습자,,,,,,,,,,
29,여,40대,용인시 서천동,2020-02-12,[모임]쓸모,2020-01-01,2020-12-31,학습공동체,-42 days,365 days
29,여,40대,용인시 서천동,2020-04-10,맥주교실,2020-05-09,2020-06-20,정규과정,29 days,42 days
29,여,40대,용인시 서천동,2020-06-11,[온라인] 맥주교실,2020-06-13,2020-06-20,정규과정,2 days,7 days
29,여,40대,용인시 서천동,2020-09-01,[목]쓸모,2017-09-01,2017-12-31,학습공동체,-1096 days,121 days
43,여,50대,경기도 수원시 영통구 권광로260번길,2020-02-17,스피킹 잉글리쉬 여행영어,2020-03-03,2020-06-23,정규과정,15 days,112 days
...,...,...,...,...,...,...,...,...,...,...
40189,여,60대,경기도 수원시 권선구 권광로,2020-10-29,[온라인 열린강좌]인류세:재난적 상황이 일상화된 시대를 살아가기,2020-11-17,2020-11-17,정규과정,19 days,0 days
40189,여,60대,경기도 수원시 권선구 권광로,2020-11-13,1307.[글로벌누구나_온라인]아프리카 르완다 이야기,2020-12-03,2020-12-03,시민기획,20 days,0 days
40189,여,60대,경기도 수원시 권선구 권광로,2020-12-16,"1311.[글로벌누구나_온라인]낯선아프리카에서의 2년,여행을 꿈꾸는 분들을 초대합니다",2020-12-18,2020-12-18,시민기획,2 days,0 days
40189,여,60대,경기도 수원시 권선구 권광로,2020-12-19,1312.[글로벌누구나_온라인]미소의 나라 미얀마 이야기,2020-12-29,2020-12-29,시민기획,10 days,0 days
40329,남,10대,경기도 수원시 영통구 대학3로,2020-12-22,[글로벌문화특강]Janae와 함께 하는 온라인 문화여행,2020-12-30,2020-12-30,글로벌교육,8 days,0 days

- 결과 
diff 에서 days의 차이가.. -값은 강좌시작일과 종료일의 텀이 길어서 -값이 나온것도 있지만 4번쨰열에서는 2017년도 강의를 2020년에 신청했다는것은...어떻게 해석해야 할까?

### (4) 결측치 제거 및 이상치 제거

In [165]:
df.isnull().sum()    
df.isna().sum()

성별       0
연령대      0
거주지      0
신청일자     0
강좌명      0
강좌시작일    1
강좌종료일    1
강좌분야     0
신청기간     1
강좌기간     1
dtype: int64

성별       0
연령대      0
거주지      0
신청일자     0
강좌명      0
강좌시작일    1
강좌종료일    1
강좌분야     0
신청기간     1
강좌기간     1
dtype: int64

In [166]:
df[df['신청기간'].isnull()]

,성별,연령대,거주지,신청일자,강좌명,강좌시작일,강좌종료일,강좌분야,신청기간,강좌기간
학습자,,,,,,,,,,
38262,남,20대,대전시 서구 도마2동,2020-06-17,1281.[온라인]아이 옷 깔끔하게 정리하기,NaT,NaT,시민기획,NaT,NaT

- 결측치 처리법 의논

### (5) 강좌명, 강좌분야 value_counts() 살펴보기

In [167]:
강좌명 = df['강좌명'].value_counts()   
강좌명

[외국어마을]글로벌 평생학습의 시작.외국어 프로그램 비대면 설명회    202
2020평생학습포럼                              161
[온라인 열린강좌] 수학의 시대가 도래하고 있다.             101
[글로벌문화특강]Janae와 함께 하는 온라인 문화여행           82
[온라인]문제는 자존감이다                           74
                                       ...
[모임]죽사발                                   1
[이슈마당]집값은 계속 오를까? 내 집 마련은 가능할까?           1
오픈데이 (5/8)                                1
2020 쉑쉑바디 shake shake body                1
1263.한글고급반                                1
Name: 강좌명, Length: 353, dtype: int64

In [168]:
강좌명.values

array([202, 161, 101,  82,  74,  73,  53,  52,  48,  47,  47,  47,  46,
        46,  44,  43,  43,  42,  41,  41,  41,  39,  38,  38,  38,  37,
        35,  34,  34,  33,  32,  32,  31,  31,  31,  31,  30,  30,  29,
        29,  29,  27,  26,  25,  25,  24,  24,  24,  24,  24,  24,  23,
        23,  23,  23,  23,  22,  22,  21,  21,  20,  20,  20,  19,  19,
        19,  18,  18,  18,  18,  17,  17,  16,  16,  16,  16,  16,  16,
        16,  16,  16,  15,  15,  15,  15,  15,  15,  15,  15,  15,  15,
        15,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,
        14,  14,  14,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,
        13,  13,  13,  12,  12,  12,  12,  12,  12,  12,  12,  12,  12,
        12,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,  11,
        11,  11,  11,  11,  11,  11,  11,  11,  10,  10,  10,  10,  10,
        10,  10,  10,  10,  10,  10,  10,  10,  10,  10,  10,  10,  10,
        10,  10,  10,  10,  10,  10,   9,   9,   9,   9,   9,   9,   9,
         9,   9,   9,   9,   9,   9,   9,   8,   8,   8,   8,   8,   8,
         8,   8,   8,   8,   8,   8,   8,   8,   8,   8,   8,   8,   7,
         7,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,
         7,   7,   7,   7,   7,   7,   7,   7,   7,   6,   6,   6,   6,
         6,   6,   6,   6,   6,   6,   6,   6,   6,   6,   6,   6,   5,
         5,   5,   5,   5,   5,   5,   5,   5,   5,   5,   5,   5,   5,
         5,   5,   5,   5,   5,   5,   5,   5,   5,   4,   4,   4,   4,
         4,   4,   4,   4,   4,   4,   4,   4,   4,   4,   4,   4,   4,
         4,   4,   4,   4,   4,   4,   4,   3,   3,   3,   3,   3,   3,
         3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   2,   2,
         2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,
         2,   2,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1], dtype=int64)

In [169]:
df['강좌분야'].value_counts()

정규과정      2082
시민기획       774
지역네트워크     645
학습공동체      567
글로벌교육      460
시민참여       307
Name: 강좌분야, dtype: int64

### (6) 통계분석

In [170]:
df.describe()

                               신청기간                         강좌기간
count                          4834                         4834
mean   -33 days +02:59:19.784857261   51 days 16:27:48.183698800
std     208 days 15:14:12.987796008  102 days 07:42:47.520803369
min            -1097 days +00:00:00              0 days 00:00:00
25%                 0 days 00:00:00              0 days 00:00:00
50%                 8 days 00:00:00              3 days 00:00:00
75%                19 days 00:00:00             49 days 00:00:00
max               128 days 00:00:00            365 days 00:00:00

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4835 entries, 29 to 40329
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   성별      4835 non-null   object
 1   연령대     4835 non-null   object
 2   거주지     4835 non-null   object
 3   신청일자    4835 non-null   datetime64[ns]
 4   강좌명     4835 non-null   object
 5   강좌시작일   4834 non-null   datetime64[ns]
 6   강좌종료일   4834 non-null   datetime64[ns]
 7   강좌분야    4835 non-null   object
 8   신청기간    4834 non-null   timedelta64[ns]
 9   강좌기간    4834 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), object(5), timedelta64[ns](2)
memory usage: 415.5+ KB

In [172]:
# 성별연령대별로 가장 인기있는 강좌명은?  
# 신청일자에서 월별로 가장 많이 신청한 날짜는?
# 신청일자와 강좌시작일 차이 ( diff) 의 의미있는 특성이있을지
# 강좌시작일과 강좌종료일 차이 (강좌기간)에 의미있는 특성이 있을지
# 학습공동체 삭제. 
# 요일

In [180]:
df.groupby('연령대')['강좌명'].value_counts()

연령대    강좌명
10대    [비대면]주말 크리스마스 이벤트 Light up my Christmas 2회차    30
       [비대면]주말 크리스마스 이벤트 Light up my Christmas 1회차    29
       [글로벌문화특강]Janae와 함께 하는 온라인 문화여행                 26
       [방학캠프]겨울방학캠프 STEAM Builders Camp 2차            25
       [방학캠프]겨울방학캠프 STEAM Builders Camp 1차            16
                                                      ..
80대    [화]시민과학모임                                       1
       사진, 동영상 편집제작과 SNS 활용                            1
       클래식, 포크기타 계속반                                   1
90대이상  1312.[글로벌누구나_온라인]미소의 나라 미얀마 이야기                 1
       [온라인 열린강좌] 수학의 시대가 도래하고 있다.                     1
Name: 강좌명, Length: 1230, dtype: int64